{% extends 'base.html.twig' %}

{% block body %}
{#    <li><a href="#performances">Performances</a></li>
    <li><a href="#aboutus">About Us</a></li>
    <li><a href="#prices">Prices</a></li>
    <li><a href="#contact">Contact</a></li>#}


{% endblock %}
