{% extends 'admin/base.html.twig' %}

{% block title %}New AboutUs{% endblock %}

{% block body %}
    <h1>Create new AboutUs</h1>

    {{ include('admin/about_us/_form.html.twig') }}

    <a href="{{ path('about_us_index') }}">back to list</a>

    <script>CKEDITOR.replace( 'about_us[description]' );</script>
{% endblock %}
