{% extends 'base.html.twig' %}

{% block title %}New PricesGroup{% endblock %}

{% block body %}
    <h1>Create new PricesGroup</h1>

    {{ include('prices_group/_form.html.twig') }}

    <a href="{{ path('prices_group_index') }}">back to list</a>
{% endblock %}
