{% extends 'base.html.twig' %}

{% block title %}Edit PricesDay{% endblock %}

{% block body %}
    <h1>Edit PricesDay</h1>

    {{ include('prices_day/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prices_day_index') }}">back to list</a>

    {{ include('prices_day/_delete_form.html.twig') }}
{% endblock %}
