
<footer class="page-footer font-small mdb-color darken-3 pt-4">
    <div class="container">
        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1"><a href="{{ path('app_register') }}">Register for free</a></h5>
            </li>
            <li class="list-inline-item">
                <a href="{{ path('app_login') }}" class="btn btn-outline-white btn-rounded">Sign up!</a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Sophie JÄGER</div>
</footer>

<
